*.pdf
*.eps
*.png

*.o
*.a

*.nc

linear.t42l20.qqf.grd

lbm2.t21ml20ctintgr
lbm2.t42ml20ctintgr
lbm2.t42ml20cdcore
chi  
p  
psi  
Restart.amat  
SYSIN  
SYSOUT  
t  
u  
v  
w  
z
dec 
hdec 
bsgrd 
redist 
mkfrcng 
mkfrcsst 
fvec 
gt2gr 
ncepsbs 
ncep1vbs 
ecmsbs
mymkfrcng
mymkfrcng222
compile.log

frc.t42l20.CNP.grd
qqf.t42l20
qqf.t42l20.grd
frc-r.nonlin.grd
ncep.clim.y79-14.ps.t42.grd
ncep.clim.y79-14.t42.grd

