*.pdf
*.eps
*.png

*.o
*.a

*.nc

linear.t42l20.qqf.grd

lbm2.t21ml20ctintgr
lbm2.t42ml20ctintgr
chi  
p  
psi  
Restart.amat  
SYSIN  
SYSOUT  
t  
u  
v  
w  
z
dec 
hdec 
bsgrd 
redist 
mkfrcng 
mkfrcsst 
fvec 
gt2gr 
ncepsbs 
ncep1vbs 
ecmsbs
mymkfrcng
compile.log

